<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>GameLibrary</title>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="logo"/></a>
    <button id="logoutButton"><div class="navlink"><a href="/logout">Log out</a></div></button>
    <button id="profileButton"><div class="navlink"><a href="/profile">View Profile</a></div></button>
    <button id="reviewButton"><div class="navlink"><a href="/public">Public Reviews</a></div></button>
  </nav>
  <section id="makeGame">
  </section>
  {{#unless premium}}
    <img id="adBanner" src="/assets/img/Ad.png">
  {{/unless}}
  <section id="games">
  </section>
  <div id="gameMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>